@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

header {
  border: 2px solid black;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
h1 {
  margin-left: 1rem;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

nav {
  border: 2px solid orange;
  background-color: orange;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

#article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#article-container > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}

.article-card-info {
  display: flex;
  justify-content: space-around;
}

.article-card-img {
  height: 10rem;
  width: auto;
}

.article-card {
  margin-bottom: 1rem;
}

.article-card-footer {
  display: flex;
  justify-content: space-around;
}

.single-article-card {
  background-color: pink;
}

.article-card-footer-element {
  display: flex;
}

.single-article-card-footer {
  display: flex;
  justify-content: space-around;
}

.article-card-footer-element > p {
  margin-right: 1rem;
}

.single-article-card-img {
  width: 25rem;
  height: auto;
}

#comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.comment-card {
  margin-bottom: 1rem;
  width: 90vw;
}

#single-comment {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#single-comment-body {
  grid-area: 1 / 1 / 13 / 12;
}

#single-comment-vote {
  grid-area: 11 / 12 / 13 / 13;
}

.article-votes {
  display: flex;
  align-items: center;
}

.article-votes > button {
  background-color: transparent;
  border-radius: 5px;
}

.article-votes > p {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-family: "Montserrat", sans-serif;
  
}